.phoneNumberWrapper {
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  justify-content: center;
  height: 100%;
}

.darkStyle {
  color: black;
}

.lightStyle {
  color: white;
}