.menu {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: 12px;
  justify-content: space-around;
  list-style-type: none;
  line-height: 15px;
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}

.menuItem {
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  color: #ffebb1;
}