.productData {
  width: 60%;
}

.totalCost {
  color: #EC5879;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.emptyCartWrapper,
.orderConfirmedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyCartText,
.orderConfirmedText {
  font-size: 1.3rem;
  margin: 50px;
}

.emptyCartImg {
  width: 25%;
}

.orderConfirmed {
  width: 35%;
}