.openCatalogLink {
  margin: 30px 0px 30px 0px;
  text-decoration: none;
}

.openCatalogBtn {
  align-items: center;
  background-color: #EC5879;
  border: 1px solid #EC5879;
  border-radius: 150px; 
  cursor: pointer;
  color: white;
  display: flex;
  font-weight: 900;
  font-size: 18px;
  height: 70px;
  justify-content: center;
  line-height: 22px;
  text-align: center;
  width: 60%;
}

.openCatalogBtn:focus {
  outline:0;
}

.openCatalogBtn:hover {
  background-color: white;
  border: 1px solid #EC5879;
  color: #EC5879;
}

@media screen and (max-width:1000px) {
  .openCatalogLink {
    display: flex;
    justify-content: center;
  }
}