.infoWrapper {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 50px 0px 50px 0px;
  row-gap: 30px;
}

.productImg {
  height: 250px;
  object-fit: cover;
  transition: all .2s ease-in-out;
  width: 250px;
}

.productImg:hover {
  transform: scale(1.2, 1.2);
}

@media screen and (max-width:1000px) {
  .infoWrapper {
    width: 100%;
  }
  

  .galleryWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .productImg {
    height: 150px;
    margin: 0 auto;
    width: 150px;
  }
}
