.wrapper {
  background-color: #ebd7dc;
  border: 1px solid #EC5879;
  border-radius: 15px;
  display: grid;
  padding: 35px;
  position: absolute;
  right: 0px;
  row-gap: 15px;
  top: 80px;
  width: 350px;
  z-index: 20;
}

.cartText {
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
}

.toCartBtn {
  background-color: white;
  border: 1px solid #EC5879;;
  border-radius: 150px; 
  cursor: pointer;
  color: #EC5879;
  font-weight: bold;
  font-size: 12px;
  height: 50px;
  line-height: 15px;
  margin: 0 auto;
  opacity: 0.8;
  text-align: center;
  width: 70%;
}

.toCartBtn:hover {
  background-color: #EC5879;
  color: white;
}

.toCartBtn:focus {
  outline: none;
}

.cartLink {
  text-decoration: none;
  width: 100%;
  text-align: center;
}