.headWithCategories {
  display: inline-flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.headWithCategories h2 {
  width: 50%;
}

.newGoodsArea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  column-gap: 40px;
  justify-content: space-between;
}