.circle {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  background-color:  #EC5879;

  text-align: center;
  font-weight: 900;
  font-family: Montserrat;
  font-style: normal;
  text-transform: uppercase;
}