.circle {
  background-color:  #EC5879;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  height: 130px;
  line-height: 130px;
  text-align: center;
  text-transform: uppercase;
  width: 130px;
}