.wrapper {
  margin-bottom: 85px;
}

.infoWrapper {
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.productsList {
  column-gap: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  row-gap: 40px;
  width: 100%;
}

.sortWrapper {
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
  width: 70%;
}

.sortOption:hover,
.activeSort {
  color: #EA5242;
}

@media screen and (max-width:1000px) {
  .productsList {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .sortWrapper {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    margin-left: 10px;
    text-align: center;
  }

  .sortOption {
    align-items: center;
    background-color: rgba(128, 128, 128, 0.644);
    display: flex;
  }
}
