.heroSectionWrapper {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.infoArea {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 6;
  justify-content: center;
  width: 100%;
  z-index: 5;
}

.description {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  width: 80%;
}

.button {
  width: 20%;
}

.carouselArea {
  grid-column: 7 / 13;
  justify-self: end;
  width: 100%;
  z-index: 5;
}