*{
  font-family: Montserrat;
  font-style: normal;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: #403D3D; 
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 35px;
  line-height: 49px;
}

h2,
h3 {
  font-size: 20px;
  line-height: 24px;
}

h2 {
  margin-bottom: 40px;
  margin-top: 40px;
}

h3 {
  margin: 0px;
}

main {
  margin-left: 160px;
  margin-right: 160px;
}

.appContent {
  position: relative;
  z-index: 10;
}

.appWrapper {
  background-color: #FBF2F2;
  height: 100%;
}

.popUpOpened {
  background-color: #FBF2F2;
  content:"";
  height: 100%;
  left: 0;
  opacity: .5;
  pointer-events: none;
  position:absolute;
  top : 0;
  width: 100%;
}

@media screen and (max-width:1000px) {
  main {
    margin-left: 15px;
    margin-right: 15px;
  }
}