.discountItemWrapper {
  margin-top: 90px;
	position: relative;
  width: 100%;
}

.discountItemWrapper:hover {
  box-shadow: 0px 0px 50px 5px rgba(236, 88, 121, 0.4);
  cursor: pointer;
}

.discountImage {
  height: 100%;
  width: 100%;
}

.infoBlock {
  background-color: rgba(235, 215, 220, 0.75);
  bottom: 50px;
	left: 50px;
  padding: 10px;
  position: absolute;
  width: 60%;
}

.description {
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 130.4%;
}

.firstDiscountLabel {
  left: -50px;
  position: absolute;
  top: -50px;
}

.secondDiscountLabel {  
  right: -50px;
  position: absolute;
  top: -50px;
}